<nav>
<!-- 	<a href="/pages.html">
		{{ "### Pages" | markdownify }}
	</a> -->
	<A href="/#about">
		{{ "### About" | markdownify }}
	</A>
  <A href="/#research">
    {{ "### Research" | markdownify }}
  </A>
  <A href="/#news">
    {{ "### News" | markdownify }}
  </A>
  <A href="/#publications">
    {{ "### Publications" | markdownify }}
  </A>
  <A href="/#projects">
    {{ "### Projects" | markdownify }}
  </A>
  <A href="/#other">
    {{ "### Teaching" | markdownify }}
  </A>
  <A href="/#resume">
    {{ "### Resume" | markdownify }}
  </A>
</nav>